<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="MvcApplication1Context"
         connectionString="Server=b9e1d4c3-897a-4948-a4b6-a5860097ce35.sqlserver.sequelizer.com;Database=dbb9e1d4c3897a4948a4b6a5860097ce35;User ID=lbhipgqrwntohjmc;Password=3sLYn5kGG7CpjEVpxD72xpuG8ZfoUHKDGiZsgYNFZSVMTyDuSEkWyKQM6dYuY5U7;" />
  </connectionStrings>
</configuration>